.login-bg-container {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.website-logo {
  height: 36px;
  margin-top: 30px;
}
.login-container {
  background-color: #272727;
  height: 300px;
  width: 320px;
  border-radius: 10px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.input-container-1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 40px;
}

.input-container-2 {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.label {
  font-size: 8px;
  color: #ffffff;
  margin-bottom: 6px;
}
.name-input {
  background-color: transparent;
  border: 1px solid #475569;
  border-radius: 2px;
  padding: 7px;
  padding-left: 10px;
  font-size: 10px;
  outline: none;
  color: #ffffff;
}
.login-button {
  background-color: #6366f1;
  font-size: 10px;
  border: 0px solid;
  border-radius: 5px;
  width: 250px;
  color: #ffffff;
  padding: 7px;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
  outline: none;
}
